<div class="hero">
  <div class="input-group search_input">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupPrepend">Search</span>
    </div>
    <input type="text" class="form-control" id="validationCustomUsername" placeholder="Enter city or code postal..." aria-describedby="inputGroupPrepend" required>
    <div class="invalid-feedback">
      Please enter city or code postal.
    </div>
  </div>
  <div class="historial"></div>
</div>
<div class="container">
  <div class="mapa container-fluid">
    <div class="row">
      <h6>MAP</h6><br />
      <button (click)="reset()" style="display: none;">Reset</button>
      <div #map style="height:400px;width:100%"></div>
    </div>
  </div>
  <div class="condiciones container-fluid">
    <div class="row"> <h6>CONDICIONES METEOROLÓGICAS</h6></div>
    <div class="row">
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Mexico</span>
          <span class="img"><img src="https://developer.accuweather.com/sites/default/files/04-s.png" alt="Alternate Text" /></span>
          <span class="temperatura">24°C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Arequipa</span>
          <span class="img"><img src="https://developer.accuweather.com/sites/default/files/36-s.png" alt="Alternate Text" /></span>
          <span class="temperatura">14°C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Washington, DC</span>
          <span class="img"><img src="https://developer.accuweather.com/sites/default/files/34-s.png" alt="Alternate Text" /></span>
          <span class="temperatura">12°C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Ecuador</span>
          <span class="img"><img src="https://developer.accuweather.com/sites/default/files/07-s.png" alt="Alternate Text" /></span>
          <span class="temperatura">18C</span>
        </div>
      </div>
    </div>
  </div>
</div>

