<div class="hero">
  <input type="type" name="name" value=""  class="locationInput"/>
  <div class="historial"></div>
</div>
<div class="container">
  <div class="mapa container-fluid">
    <div class="row">
      <h6>MAP</h6><br />
      <button (click)="reset()" style="display: none;">Reset</button>
      <div #map style="height:400px;width:100%"></div>
    </div>
  </div>
  <div class="condiciones container-fluid">
    <div class="row"> <h6>CONDICIONES METEOROLÓGICAS</h6></div>
    <div class="row">
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Arequipa</span>
          <span class="img">ic</span>
          <span class="temperatura">12C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Arequipa</span>
          <span class="img">ic</span>
          <span class="temperatura">12C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Arequipa</span>
          <span class="img">ic</span>
          <span class="temperatura">12C</span>
        </div>
      </div>
      <div class="col-md-3 col-12 recomendado">
        <div class="card">
          <span class="city">Arequipa</span>
          <span class="img">ic</span>
          <span class="temperatura">12C</span>
        </div>
      </div>
    </div>
  </div>
</div>

