<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->

  <div class="container_pronostico container">

    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">NOW</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">HOURLY</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">DAILY</a>
      </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="card">
              <h6>CURRENT WEATHER</h6>
              <p class="hour">1:30pm</p>
              <img src="#" alt="Alternate Text" />
              <p class="temperatura">13 C</p>
              <p class="real">REAL FEEL: 14C</p>
              <p class="description"> clear </p>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="card">
              <h6>CURRENT WEATHER</h6>
              <p class="hour">1:30pm</p>
              <img src="#" alt="Alternate Text" />
              <p class="temperatura">13 C</p>
              <p class="real">REAL FEEL: 14C</p>
              <p class="description"> clear </p>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="card">
              <h6>CURRENT WEATHER</h6>
              <p class="hour">1:30pm</p>
              <img src="#" alt="Alternate Text" />
              <p class="temperatura">13 C</p>
              <p class="real">REAL FEEL: 14C</p>
              <p class="description"> clear </p>
            </div>
          </div>
          <div class="col-md-3 col-12">
            <div class="card">
              <h6>CURRENT WEATHER</h6>
              <p class="hour">1:30pm</p>
              <img src="#" alt="Alternate Text" />
              <p class="temperatura">13 C</p>
              <p class="real">REAL FEEL: 14C</p>
              <p class="description"> clear </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row">
          <div class="col-1 first">
            <p>Sun 3/8</p>
          </div>
          <div class="col-4">
            <p>icon   21/11</p>
          </div>
          <div class="col-6">
            <p>A Shower and t-storm around</p>
          </div>
          <div class="col-1">
            <p>Precip 63%</p>
          </div>

        </div>

        <div class="row">
          <div class="col-1">
            <p>Sun 3/8</p>
          </div>
          <div class="col-4">
            <p>icon   21/11</p>
          </div>
          <div class="col-6">
            <p>A Shower and t-storm around</p>
          </div>
          <div class="col-1">
            <p>Precip 63%</p>
          </div>

        </div>
      </div>
    </div>

  </div>
